<section class="clearfix">
  <article class="one_third">

<form action="/items/form_processing" method="post">
  <label for="item">Item to Add:</label>
  <input type="text" id="item" name="item_added" />
  <button type="submit">ADD ITEM</button>
</form>

  </article>
  <article class="two_third">
    <h1>2/3 Column</h1>
  </article>
</section>